---
import Layout from "../layouts/Layout.astro";
import {
  getPageInfo,
  getLatestPosts,
  getCuriosities,
  getReviews,
} from "../lib/wp";
import Hero from "@components/layouts/Hero.astro";
import Author from "@components/layouts/Author.astro";
import Chapters from "@components/layouts/Chapters.astro";
import Documents from "@components/layouts/Documents.astro";
import Curiosities from "@components/layouts/Curiosities.astro";
import Newsletter from "@components/layouts/Newsletter.astro";
import Reviews from "@components/layouts/Reviews.astro";

const { title } = await getPageInfo("home");
const posts = await getLatestPosts({ category: "historia", perPage: 3 });
const curiosities = await getCuriosities();
const reviews = await getReviews({ perPage: 3 });
---

<Layout
  title="Mi Propio One Piece"
  description="Blog sobre mi propio One Piece. En búsqueda de mi libertad."
>
  <!-- Hero -->
  <Hero title={title} />

  <!-- Capítulos -->
  {
    posts && posts.length > 0 ? (
      <Chapters chapters={posts} />
    ) : (
      <div class="sr-only">No hay capítulos disponibles.</div>
    )
  }

  <!-- Documentos -->
  <Documents />

  <!-- Curiosidades -->
  {
    curiosities && curiosities.length > 0 ? (
      <Curiosities curiosities={curiosities} />
    ) : (
      <div class="sr-only">No hay curiosidades disponibles.</div>
    )
  }

  <!-- Reseñas -->
  {
    reviews && reviews.length > 0 ? (
      <Reviews reviews={reviews} title="Opiniones de los lectores" />
    ) : (
      <div class="sr-only">No hay reseñas disponibles.</div>
    )
  }

  <!-- Newsletter -->
  <!-- <Newsletter /> -->

  <!-- Sobre el autor y contacto -->
  <Author />
</Layout>
