---
import "@fontsource-variable/inter";
import "../styles/global.css";
import SEO from "@components/layouts/SEO.astro";
import Navbar from "@components/layouts/Navbar.astro";
import Footer from "@components/layouts/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;

const icon = "☠️";
const name = "Mi Propio One Piece";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/icon-one-piece.svg" />

    <!-- SEO -->
    <SEO
      title={Astro.props.title || name}
      description={description || "Blog sobre mi propio One Piece"}
      url="https://www.onepiece.dejeloper.com"
      author="Jhonatan Guerrero"
      keywords="One Piece, Anime, Manga, libertad, aventura, piratas, tesoro, Grand Line, Sombrero de Paja, Luffy, Zoro, Nami, Usopp, Sanji, Chopper, Robin, Franky, Brook, Jinbe"
      ogtitle={Astro.props.title || name}
      ogdescription={description || "Blog sobre mi propio One Piece"}
    />

    <ViewTransitions />
  </head>
  <body class="bg-[var(--background)] text-[var(--foreground)]">
    <!-- Navegación -->
    <Navbar icon={icon} name={name} />

    <main class="min-h-screen">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
