---
import "@fontsource-variable/inter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Analytics from "@vercel/analytics/astro";

import SEO from "@components/layouts/SEO.astro";
import Navbar from "@components/layouts/Navbar.astro";
import Footer from "@components/layouts/Footer.astro";
import TransitionLoader from "@components/ui/TransitionLoader.astro";

const { title, description, ogimage } = Astro.props;

const icon = "☠️";
const name = "Mi Propio One Piece";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/icon-one-piece.svg" />

    <!-- SEO -->
    <SEO
      title={Astro.props.title || name}
      description={description || "Blog sobre mi propio One Piece"}
      url="https://www.onepiece.dejeloper.com"
      author="Jhonatan Guerrero"
      keywords="One Piece, Anime, Manga, libertad, aventura, piratas, tesoro, Grand Line, Sombrero de Paja, Luffy, Zoro, Nami, Usopp, Sanji, Chopper, Robin, Franky, Brook, Jinbe"
      ogtitle={Astro.props.title || name}
      ogdescription={description || "Blog sobre mi propio One Piece"}
      ogimage={ogimage}
    />

    <ClientRouter />
    <Analytics />
  </head>

  <body class="bg-[var(--background)] text-[var(--foreground)] relative">
    <TransitionLoader />

    <Navbar icon={icon} name={name} />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />

    <script>
      document.addEventListener("astro:before-preparation", () => {
        const loader = document.getElementById("transition-loader");
        if (loader) {
          loader.classList.remove("hidden");
          loader.style.display = "flex";
          loader.style.pointerEvents = "auto";
          requestAnimationFrame(() => {
            loader.style.opacity = "1";
          });
        }
      });

      document.addEventListener("astro:page-load", () => {
        const loader = document.getElementById("transition-loader");
        if (loader) {
          loader.style.opacity = "0";
          loader.style.pointerEvents = "none";
          setTimeout(() => {
            loader.style.display = "none";
            loader.classList.add("hidden");
          }, 1000);
        }
      });
    </script>
  </body>
</html>
